OPUS_CONTAINER_4_0_IZA/.classpath
OPUS_CONTAINER_4_0_IZA/.project
OPUS_CONTAINER_4_0_IZA/BuildForIntegration.xml
OPUS_CONTAINER_4_0_IZA/integration.jms
OPUS_CONTAINER_4_0_IZA/OPUS_CONTAINER_4_0.ecl
OPUS_CONTAINER_4_0_IZA/web_build.xml
OPUS_CONTAINER_4_0_IZA/.dm
OPUS_CONTAINER_4_0_IZA/.externalToolBuilders
OPUS_CONTAINER_4_0_IZA/.metadata
OPUS_CONTAINER_4_0_IZA/.settings
OPUS_CONTAINER_4_0_IZA/META-INF
OPUS_CONTAINER_4_0_IZA/WEB_MAIN/.dm
OPUS_CONTAINER_4_0_IZA/APP-INF/.dm
OPUS_CONTAINER_4_0_IZA/APP-INF/classes
OPUS_CONTAINER_4_0_IZA/APP-INF/config
OPUS_CONTAINER_4_0_IZA/APP-INF/lib
OPUS_CONTAINER_4_0_IZA/APP-INF/schemas